{% extends 'ixservices/generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load tz %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'plugins:ixservices:ipv4address_list' %}">IPv4s</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-7">
        <div class="card">
            <h5 class="card-header">
                IPv4
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ object.address|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">IX</th>
                        <td>
                            {% if object.ix %}
                                <a href="{{ object.ix.get_absolute_url }}">{{ object.ix }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ object.status|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Reverse DNS</th>
                        <td>{{ object.reverse_dns|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-5">
        <div class="card">
            <h5 class="card-header">
                Stats
            </h5>
            <div class="card-body">
                <div class="row">
                </div>
            </div>
        </div>
        {% plugin_right_page object %}
	</div>
</div>
<div class="row">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
